.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 19px;
margin-top: 9px;
}
  .card-wrapper{
      display: flex;
      flex-direction: column;
      cursor: pointer;
      transition: all 0.3s ease;
  }
  .card-wrapper :hover{
    opacity: 0.9; /* Reduce opacity on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
.card-content {
  width: 159px;
}
.card-pills {
  background-color: var(--css-white);
    border-radius: 0px 0px 10px 10px;
    height: 23px;
    padding: 3px;
    padding-bottom: 8px;
}
.pills-title {
  background-color: var(--css-black);
    color: var(--css-white);
    width: 69px;
    border-radius: 19px;
    padding: 4px, 8px, 4px, 8px;
    gap: 1px;
    /* font-size: 10px; */
    padding: -3px;
    margin: 2px;

}
.pills{
  padding: 3px;
  font-size: 9px;
}
.card-album-name {
  font-style: "poppins sans-sarif";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
